<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Flipkart Test Suite v1">
    <listeners>
        <listener class-name="com.flipkart.extentReport.ExtentReportListener"></listener>
    </listeners>
    <test name="Banking App Sanity Test">
        <parameter name="browser" value="Chrome"/>
        <classes>
             <class name="com.flipkart.testCases.FlipkartAddCarTest"></class>
        </classes>
    </test> <!-- SeleniumHibridFreamwork -->
</suite> <!-- Default Suite -->